{% extends "base.html" %}
{% block content %}
    <div class="container p-1 p-sm-3">
        <div class=row>    
            <div class="text-center">
                <h2>Lexicanalytics é um projeto desenvolvido pelo LAME</h2>
            </div>
        </div>

        <div class=row>
            <div class="col-2" >
              <img src="{{ url_for('static',filename='img/logo.svg') }}" height="150" width="150" alt="Logo do Lexicanalytics">
            </div>    
            <div class= "col-10 text-left">
                <p>
                    Lexicanalytics é uma plataforma web para ajudar pesquisadores/profissionais de
                    áreas como a linguística e educação na extração de informações lexicais relevantes
                    de textos, como densidade e diversidade lexical, frequência de palavras e classificação
                    morfológica de palavras.
                </p>
                
                <p>
                    A plataforma surgiu através de um projeto criado pelo Laboratório do Manuscrito Escolar(LAME), que faz parte da 
                    Universidade Federal de Alagoas(UFAL), em um Programa Institucional de Bolsas de Iniciação em Desenvolvimento 
                    Tecnológico e Inovação(PIBITI).
                </p>

            </div>
        </div>
        
        <div class=row>
            <div class="col-4" >
                <a href="" ><img src="{{ url_for('static',filename='img/lame_logo.jpeg') }}" height="150" width="150"  alt="Logo do LAME"></a>
            </div>
        </div>

        

        <div class="row">
            <div class="col-12 text-center">
                <h4>Tecnologias utilizadas no projeto</h4>
            </div>
            <div class="col-md-3" >
                <img src="{{ url_for('static',filename='img/flask_logo.svg') }}" class= "img-fluid" alt="Logo do Flask">
            </div>
            <div class="col-md-3" >
                <img src="{{ url_for('static',filename='img/docker_logo.svg') }}" class= "img-fluid" alt="Logo do Docker">
            </div>
            <div class="col-md-3" >
                <img src="{{ url_for('static',filename='img/bootstrap_logo.svg') }}" class= "img-fluid" alt="Logo do Bootstrap">
            </div>
            
        </div>
    </div>
{% endblock %}