{% extends "base.html" %}
{% block content %}
    <div class="container p-1 border-bottom">
        <div class="row pb-2">
            <h2 class="text-center ">Sobre a ferramenta</h2>
            <div class="col-3 p-1 text-center">
                <embed class="img-fluid" src="{{ url_for('static',filename='img/logo.svg') }}" alt="Project-Logo" media-simple="true">
            </div>

            <div class="col-9 p-1">
                <br>
                <p style="text-align: justify;">
                    Lexicanalytics Web é uma ferramenta online com o intuito de ajudar pesquisadores e profissionais
                    de áreas como a linguística e educação durante a extração de informações lexicais importantes
                    de textos e manuscritos. Antes desenvolvido em Java, a plataforma agora conta com uma versão 
                    online com mais funcionalidades, buscando dessa forma aumentar a acessibilidade. 
                    Aperte <a href="http://projects.glauberrleite.com/lexicanalytics/" class="link-dark" target="_blank">aqui</a>
                    para saber mais sobre a versão anterior. 
                </p>
                <p style="text-align: justify;">
                    A ferramenta foi desenvolvida através de um projeto do Laboratório do Manuscrito Escolar(LAME), parte da 
                    Universidade Federal de Alagoas(UFAL), pela necessidade de uma ferramenta que possibilitasse a análise morfológica 
                    e lexical de manuscritos escolares mais atualizada.
                </p>    
                <br>
            </div>  
        </div>
    </div>
    
    <div class="container pt-4 pb-4 border-bottom">
        
        <div class="row text-center pt-2">   
            <h2 class="text-center pb-4">Funcionalidades</h2>
            
            <div class="col-1 p-2"></div>


            <div class="col-3 p-2">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x"style="color: #0d6efd;"></i>
                    <i class="far fa-file-alt fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="pt-2">Dados sobre a Produção</a></h4>
                <p> Extração de dados dos textos, como
                    a densidade e diversidade lexical. 
                </p>
            </div>

            <div class="col-4 p-2">
                <span class="fa-stack fa-3x">
                    <i class="fas fa-circle fa-stack-2x"style="color: #0d6efd;"></i>
                    <i class="far fa-copy fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="pt-2">Múltiplas Produções</a></h4>
                <p> Possibilidade de extrair informações 
                    de várias produções ao mesmo tempo.
                </p>
            </div>

            <div class="col-3 p-2">
                <span class="fa-stack fa-3x">
                    <i class="fas fa-circle fa-stack-2x" style="color: #0d6efd;"></i>
                    <i class="fas fa-square-root-alt fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="pt-2">Dados Estatísticos</a></h4>
                <p> Obtenção de medidas estatísticas, como média,
                    moda, e entre outras.
                </p>
            </div>

            <div class="col-1 p-2"></div>
        </div>

        <div class="row text-center">
            <div class="col-1 p-2"></div>

            <div class="col-3 p-2">
                <span class="fa-stack fa-3x"style="color: #0d6efd;">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="far fa-chart-bar fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="pt-2">Gráficos</a></h4>
                <p>Visualização dos dados a partir
                   de gráficos de linha e pizza.
                </p>
            </div>
            
            <div class="col-4 p-2">
                <span class="fa-stack fa-3x">
                    <i class="fas fa-circle fa-stack-2x"style="color: #0d6efd;"></i>
                    <i class="fas fa-search fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="pt-2">Análise Morfológica</a></h4>
                <p>Obtenção da classe gramatical de 
                   cada palavra das produções.
                </p>
            </div>

            <div class="col-3 p-2">
                <span class="fa-stack fa-3x">
                    <i class="fas fa-circle fa-stack-2x"style="color: #0d6efd;"></i>
                    <i class="fas fa-wifi fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="pt-2">Serviço online</a></h4>
                <p>Facilidade de acesso sem a necessidade
                   da instalação de software.
                </p>
            </div>


            <div class="col-1 p-2"></div>
            
        </div>

    </div>

    <div class="container p-2">
        <div class="row pb-3">
            <h3 class="text-center pt-4 pb-4">Principais Tecnologias</h3>
        </div>
        <div class="row pt-2">
            <div class="tech p-2 col">
                <div class="tech-img pb-3">
                    <a href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank"><img src="{{ url_for('static',filename='img/flask_logo.svg') }}" alt="Flask-Logo"height="125" width="200" title="" media-simple="true"></a>
                </div>
            </div>

            <div class="tech p-2 col">
                <div class="tech-img pb-3">
                    <a href="https://www.docker.com/" target="_blank"><img src="{{ url_for('static',filename='img/docker_logo.svg') }}" alt="Docker-Logo" height="125" width="200"title="" media-simple="true"></a>
                </div>
            </div>

            <div class="tech p-2 col">
                <div class="tech-img pb-3">
                    <a href="https://getbootstrap.com/" target="_blank"><img src="{{ url_for('static',filename='img/bootstrap_logo.svg') }}" alt="Bootstrap-Logo" height="125" width="200"title="" media-simple="true"></a>
                </div>
            </div>

            <div class="tech p-2 col">
                <div class="tech-img pb-3">
                    <a href="https://www.chartjs.org/" target="_blank"><img src="{{ url_for('static',filename='img/chartjs_logo.svg') }}" alt="ChartJS-Logo" height="125" width="200"title="" media-simple="true"></a>
                </div>
            </div>
            
        </div>

    </div>
{% endblock %}