<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.0/dist/chart.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='style/app.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static',filename='js/app.js') }}"></script>
        <script src="https://kit.fontawesome.com/10ebf3e3af.js" crossorigin="anonymous"></script>
        <title>Lexicanalytics Web | Análise textual e estatística</title>
        <link rel="icon" type="image/png" href="{{ url_for('static',filename='img/favicon.png') }}"/>
    </head>

    <body {% block body_attrs %} {% endblock %}>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index"><i class="fas fa-home"></i>&nbsp;Início</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-question-circle"></i>&nbsp;Sobre
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/about_project"><i class="fas fa-laptop-code"></i>&nbsp;Programa</a></li>
                      <li><a class="dropdown-item" href="/about_people"><i class="fas fa-user-friends"></i>&nbsp;Autores</a></li>
                    </ul>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-bug"></i>&nbsp;Reportar</a>
                    </li>
                </ul>
              </div>
            </div>
          </nav>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-2">
                    <img src="{{ url_for('static',filename='img/logo.svg') }}" id="logo" />
                </div>
                <div class="col-md-5">
                    <h1>Lexicanalytics Web</h1>
                    <h3>Análise textual e estatística</h3>
                </div>
            </div>
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
        
        <footer class="container">© 2021 Copyright: Universidade Federal de Alagoas </footer>
    </body>
</html>