html,body {
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

#results {
    visibility: hidden;
}

#loading {
    visibility: hidden;
}

#title_top{
    height: 10vh;
    background-color: #F0F0F0;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#title_top h1{
    font: 3.2vw Gelasio;
    color:#FF9153; 
    text-align: center;
    -webkit-text-stroke-width: 0.8px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px
}

#title_bottom{
    background-color: #FF9153;
    height: 4vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#title_bottom h3{
    font: 1.3vw Gelasio;
    color:#FFF; 
    text-align: center;
    margin: 0;
    position: absolute;
    top: 12%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.page_landing .input_top{
    margin-top: 2%;
    margin-left: 3%;
    font: 1.1vw Gelasio;
    color: #000;
    
}
.page_landing .input_top #text_1{
    text-align: end;
    margin-right: 20%;
}


.page_landing .input_bottom #text_box{
    position: absolute;
    width: 45%;
    height: 25vw;
    background: #FFFFFF;
    border: 2px solid #8F8F8F;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 8px 0;
    margin-left: 3%;
    padding: 12px 20px
}

.page_landing .input_bottom .buttons #Add_button{
    margin-left: 70%;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: 2px solid #8F8F8F;
    border-radius: 5px; 
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin-bottom: 1%;
    font: 1.1vw Gelasio;
    transition-duration: 0.4s;
}

.page_landing .input_bottom .buttons #Remove_button{
    margin-left: 70%;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: 2px solid #8F8F8F;
    border-radius: 5px; 
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin-bottom: 1%;
    font: 1.1vw Gelasio;
    transition-duration: 0.4s;
}

.page_landing .input_bottom .buttons #Analyze_button{
    margin-left: 70%;
    color: rgb(0, 0, 0);
    background-color: #ffffff; 
    border: 2px solid #8F8F8F;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin-bottom: 1%;
    font: 1.1vw Gelasio;
    transition-duration: 0.4s;
}

.page_landing .input_bottom .buttons #Add_button:hover{
    background-color: #ffd0a4; /* Green */
    color: rgb(0, 0, 0);
}

.page_landing .input_bottom .buttons #Remove_button:hover{
    background-color: #ffd0a4; /* Green */
    color: rgb(0, 0, 0);
}

.page_landing .input_bottom .buttons #Analyze_button:hover{
    background-color: #ffd0a4; /* Green */
    color: rgb(0, 0, 0);    
}

#result{
    margin-top: 17%;
    text-align: center;
    font: 1.1vw Gelasio;
}
